- var pageTitle   = "Ideahouse Corporation S/B"
- var pageAuthor  = "Ideahouse Corporation S/B: Wholesaler in Malaysia, Singapore and Brunei"
- var pageDesc    = "Ideahouse Corporation S/B: Wholesaler, Stockist, Supplier and distributor of Corporate Gifts Business Gifts"
- var pageContact = "webmaster@ideahouse.com.my"
- var pageURL     = "http://www.ideahouse.com/"

- var pageImage   = "http://clients.droom.io/ih/img/icons/og.jpg"


meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
meta(http-equiv="Content-Type" content="text/html" charset="iso-8859-1")
meta(http-equiv="Content-language" content="en-US")
meta(http-equiv="charset" content="text/html" charset="US-ASCII")
meta(http-equiv="language" content="english")
meta(http-equiv="dialect" content="US")
meta(http-equiv="pragma" content="no-cache")
meta(http-equiv="audience" content="professional")


link(rel='stylesheet' media='screen' href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic,300italic,300,100,100italic,400italic,900,900italic')
link(rel='stylesheet' media='screen' href='css/ideahouse.css')
link(rel="apple-touch-icon-precomposed" sizes="57x57" href="img/icons/apple-icon-57x57-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-icon-72x72-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-icon-114x114-precomposed.png")
link(rel="apple-touch-icon-precomposed" sizes="144x144" href="img/icons/apple-icon-144x144-precomposed.png")
link(rel="icon" type="image/png" href="img/icons/favicon.png")
link(rel="canonical" href=pageURL)

meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(name="title" content=pageTitle)
meta(name="publisher" content="Ideahouse Corporation S/B")
meta(name="description" content=pageDesc)
meta(name="author" content=pageAuthor)
meta(name="city" content="Kuala Lumpur")
meta(name="country" content="Malaysia")
meta(name="state" content="")
meta(name="zipcode" content="52200")
meta(name="geo.position" content="31115.88000;1013617.79000")
meta(name="geo.placename" content="Kuala Lumpur")
meta(name="geo.region" content="MY")
meta(name="area" content="general")
meta(name="owner" content=pageContact)
meta(name="placename" content=pageURL)
meta(name="contributions" content="Promotional Gifts Souvenir Gifts Advertising Gifts Novelty Gifts and Premium Gifts in Malaysia, Singapore and Brunei.")
meta(name="copyright" content="Ideahouse Corporation Sdn Bhd")
meta(name="creator" content="Ideahouse Corporation Sdn Bhd")
meta(name="rating" content="general")
meta(name="robot" content="index, follow")
meta(name="subject" content=pageDesc)


meta(itemprop="name" content=title)
meta(itemprop="description" content=pageDesc)
meta(itemprop="image" content=pageImage)

meta(name="twitter:card" content=pageImage)
meta(name="twitter:site" content="@ideahouse")
meta(name="twitter:title" content=pageTitle)
meta(name="twitter:description" content=pageDesc)
meta(name="twitter:creator" content=pageAuthor)
meta(name="twitter:image:src" content=pageImage)

meta(property="og:title" content=pageTitle)
meta(property="og:type" content="article")
meta(property="og:url" content=pageURL)
meta(property="og:image" content=)
meta(property="og:description" content=pageDesc)
meta(property="og:site_name" content=pageTitle)

