- var mTitle   		= "Ideahouse S/B"
- var mDescription  = "Ideahouse Corporation S/B: Wholesaler, stockist, supplier & distributor of Corporate / Business Gifts"
- var mKeywords     = "gifts, corporate gifts, wholesaler, stockist, supplier, distributor"
- var mURL  		= "http://www.ideahouse.com"

- var mAuthor  		= "Ideahouse Corporation S/B"
- var mPublisher   	= "Ideahouse Corporation S/B"
- var mCopyright   	= "Ideahouse Corporation S/B"
- var mSubject   	= "Corporate Gifts Business Gifts"
- var mContact  	= "webmaster@ideahouse.com.my"
- var mTwitter  	= "@ideahouse"

- var mCharset   	= "utf-8"
- var mLangCode  	= "en"
- var mDialect   	= "US"
- var fLanguage  	= "English"

- var mState   	 	= "Kuala Lumpur"
- var mCity 	 	= "Kuala Lumpur"
- var mCountry   	= "Malaysia"
- var mZipcode   	= "52200"
- var mRegion    	= "MY"
- var mGeoData   	= "31115.88000;1013617.79000"

- var mImage   		= "http://clients.droom.io/ih/img/icons/og-600.jpg"
- var mCanon 		= "http://www.ideahouse.com"

meta(charset=mCharset)
meta(http-equiv="x-ua-compatible" content="ie=edge")

meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(name="area" content="general")
meta(name="language" content=mLangCode)
meta(name="title" content=mTitle)
meta(name="description" content=mDescription)
meta(name="subject" content=mSubject)
meta(name="keywords" content=mKeywords)
meta(name="author" content=mAuthor)
meta(name="publisher" content=mPublisher)
meta(name="owner" content=mAuthor)
meta(name="copyright" content=mCopyright)
meta(name="geo.region" content=mRegion)
meta(name="geo.placename" content=mCity)
meta(name="city" content=mCity)
meta(name="country" content=mCountry)
meta(name="state" content=mState)
meta(name="zipcode" content=mZipcode)
meta(name="geo.placename" content=mCity)
meta(name="geo.position" content=mGeoData)
meta(name="ICBM" content=mGeoData)
meta(name="path" content="Ideahouse Corporation S/B")
meta(name="robot" content="index, follow")
meta(name="ctype" content="page")
meta(name="pinterest:url" content="")

meta(name="og:title" content=mTitle)
meta(name="og:url" href=mURL)
meta(name="og:site_name" content=mTitle)
meta(name="og:description" content=mDescription)
meta(name="twitter:card" content=mTitle)
meta(name="twitter:url" content=mURL)
meta(name="twitter:title" content=mTitle)
meta(name="twitter:description" content=mDescription)
meta(name="twitter:image" content=mImage)
meta(name="twitter:site" content=mAuthor)
meta(name="twitter:creator" content=mTwitter)

// Think we need an absolute path here
meta(property="og:image" content=mImage)
meta(property="og:description" content=mDescription)
meta(property="og:site_name" content=mTitle)
meta(property="og:url" content=mURL)
meta(property="og:title" content="Ideahouse Corporation S/B")
meta(property="og:type" content="article")


link(rel="canonical" href=mCanon)
link(rel="icon" type="image/png" href="img/icons/favicon.png")
link(rel="apple-touch-icon-precomposed" sizes="57x57" href="img/icons/Icon.png")
link(rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/Icon-72x72.png")
link(rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/Icon@2x.png")

